/* You can add global styles to this file, and also import other style files */
@import "./assets/variables.scss";
@import "./assets/reset.scss";

html{
    font-size: $fontSize;
}
body{
    background-color: $lighterGrey;
    width: 100vw;
    height: 100vh;
    ::-webkit-scrollbar {
        width: 1vw;
        height: 10px;
       }
       ::-webkit-scrollbar-thumb {
        background: linear-gradient(13deg, $lighterGrey 14%,#000000 56%);
        border-radius: 10px;
       }
       ::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(13deg, $white 14%,$orange 64%);
       }
       ::-webkit-scrollbar-track{
        background: transparent;
        border-radius: 10px;
        //box-shadow: inset 7px 10px 12px #f0f0f0;
       }
      #version{
          position: absolute;
          z-index: 99;
          bottom:0 ;
          right:0;
          color:$white;
          font-size: 10px;
      } 

      #notification {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 200px;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      .hidden {
        display: none;
      }
}